# WebStorm project settings folder
.idea/
# Visual Studio project settings folder
.settings/
.vs/
bin/
obj/

.ntvs_analysis.dat
*.njsproj

# npm stuff
node_modules/
npm-debug.log

# project files
lib/**/*.js
lib/**/*.js.map
tests/**/*.js
tests/**/*.js.map
typings/
